* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

/*HEADER*/

.buscador-y-nav {
    display: none;
}

.signup-login {
    display: none;
}

.signup-login-tablet {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    order: 2;
}

.nav-sections {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vw;
    right: 0;
    opacity: 0;
    width: 100%;
    text-align: center;
    background-color: #262626;
    transition: 0.6s;
}

.nav-sections.active {
    opacity: 0.9;
}


.nav-section {
    margin: 10px 0;
}

.nav-link1 {
    display: none;
}

.nav-link2 {
    display: none;
}

.nav-link3 {
    display: none;
}

.nav-link4 {
    display: none;
}

.nav-link5 {
    display: none;
}

.nav-link6 {
    display: none;
}

.nav-link1.active {
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-link2.active {
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-link3.active {
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-link4.active {
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-link5.active {
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav-link6.active {
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;
}


header {
    background-color: #262626;
    border-bottom: 3px solid rgb(255, 127, 39);
    display: flex;
    height: 30vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mobile-buscador {
    order: 3;
    align-self: center;
    font-size: 20px;
    padding: 3px 8px;
    border-radius: 5px;
    background: #262626;
    color: rgb(255, 127, 39);
}

.hamburger {
    align-self: center;
    font-size: 5vw;
    padding: 5px 8px;
    border-radius: 5px;
    background: #262626;
}

.bar {
    display: block;
    width: 20px;
    height: 2.5px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 127, 39);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(6.4px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-6.4px) rotate(-45deg);
}

.logo {
    order: 1;
}

img#logo {
    width: 40vw;
    justify-self: center;
}

/*MAIN*/

body {
    background-color: rgb(245, 245, 245);
}

/*HOME*/

.slider-container {
    height: 67vw;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: 3px solid rgb(255, 127, 39);
}

.slider-container.active {
    margin-top: 260px;
}

.slide {
    position: relative;
    height: 100%;
}

.slider-img img {
    width: 100vw;
}

.slider-arrows {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.slider-arrows i {
    color:rgb(255, 127, 39);
}

#slider-points {
    display: flex;
    justify-content: space-between;
    margin: 0 43%;
    position: relative;
    top: -22px;
}

#slider-points a i {
    font-size: 8px;
    color: rgba(220, 220, 220, 0.8);
}

h2 {
    text-align: center;
    margin: 15vw 5vw;
    padding: 0 5px;
    background-color: #262626;
    color: #ffffff;
    border-radius: 15px;
    border-bottom: 3px solid rgb(255, 127, 39);
    border-top: 3px solid rgb(255, 127, 39);
    box-shadow: 0 0 10px grey;
}

section a {
    text-decoration: none;
    list-style: none;
}

section article {
    background-color: #ffffff;
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    border: none;
    border-right: solid 3px rgb(255, 127, 39);
    border-left: solid 3px rgb(255, 127, 39);
}

section article figure.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    min-height: 30vw;
    border-bottom: solid 2px rgb(255, 127, 39);
}

section article figure.img-container img {
    width: 100%;
    height: 100%;
}

section article p.article-name {
    text-align: center;
    width: 100%;
    padding: 2%;
    color: #262626;
}

section article p.article-discount {
    color: rgb(0, 181, 0);
    margin-left: 4%;
    position: relative;
    top: 20px;
}

section article p.space {
    margin-top: 8%;
}

section article div.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

section article p.article-price {
    font-size: 20px;
    color: rgb(228, 112, 35);
    margin-right: 5%;
    text-align: end;
    font-weight: 500;
}

section article p.article-price-nodisc {
    font-size: 20px;
    color: rgb(228, 112, 35);
    margin-right: 5%;
    text-align: end;
    font-weight: 500;
}

section article p.article-discount-price {
    color: rgb(107, 107, 107);
    text-decoration: line-through;
}

/*PRODUCT CREATE FORM*/

div.crud-main {
    margin: 10vw 5vw;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

div.crud-main h2 {
    text-align: center;
    margin: 8vw 2vw;
    padding: 0 5px;
    background-color: #262626;
    color: #ffffff;
    border-radius: 15px;
    border-bottom: 3px solid rgb(255, 127, 39);
    border-top: 3px solid rgb(255, 127, 39);
    box-shadow: 0 0 10px grey;
}

div.form-section i {
    text-align: center;
    width: 100%;
    font-size: 100px;
    color: #4d4d4d;
}

div.form-section label.section-label{
    display: block;
    margin: 8px;
    font-weight: bold;
}

div.form-section input {
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: 1px solid rgb(255, 127, 39);
    border-bottom: 1px solid rgb(255, 127, 39);
    border-radius: 0 10px 0 10px;
    padding: 3px 6px;
    background-color: rgb(240, 240, 240);
}

div.form-section select {
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: 1px solid rgb(255, 127, 39);
    border-bottom: 1px solid rgb(255, 127, 39);
    border-radius: 0 10px 0 10px;
    padding: 3px 6px;
    background-color: rgb(240, 240, 240);
}

div.form-section textarea {
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: 1px solid rgb(255, 127, 39);
    border-bottom: 1px solid rgb(255, 127, 39);
    border-radius: 0 10px 0 10px;
    padding: 3px 6px;
    background-color: rgb(240, 240, 240);
}

div.form-section input.is-invalid {
    border: 1px solid red;
}

div.form-section div.feedback {
    font-size: 12px;
    color: red;
    margin-left: 3vw;
}

div.button-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 20px 0;
}

div.button-section button{
    width: 30vw;
    height: 10vw;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 127, 39);
    border-top: 2px solid rgb(255, 127, 39);
    background-color: #262626;
    color: white;
    box-shadow: 2px 2px 7px grey;
}

/*PRODUCT DETAIL*/

main.product-detail-main {
    margin: 40px 10vw;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

article.product-detail div.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

article.product-detail div.img-container img {
    width: 80%;
    margin-top: 20px;
}

main.product-detail-main article.product-detail div.right-container h3 {
    text-align: center;
    padding: 20px 0;
    margin: 5px 0;
}
main.product-detail-main article.product-detail div.right-container h6 {
    text-align: end;
    margin: 10px 10vw;
    font-size: 13px;
    color: rgb(0, 158, 0);
}

main.product-detail-main article.product-detail div.right-container h5 {
    text-align: end;
    margin: 10px 8vw;
    margin-bottom: 40px;
    font-size: 20px;
    color: #656565;
}

main.product-detail-main article.product-detail div.right-container div.add-to-cart {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main.product-detail-main article.product-detail div.right-container a {
    text-decoration: none;
    text-align: center;
    padding: 5px 10px 6px 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 127, 39);
    border-top: 2px solid rgb(255, 127, 39);
    background-color: #262626;
    color: white;
    box-shadow: 2px 2px 7px grey;
}

main.product-detail-main article.product-detail div.right-container div.edit-delete-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vw 0;
}

main.product-detail-main article.product-detail div.right-container div.edit-delete-container a {
    width: 40%;
}

main.product-detail-main article.product-detail div.right-container div.edit-delete-container form {
    width: 40%;
}

main.product-detail-main article.product-detail div.right-container div.edit-delete-container button {
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px 6px 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 127, 39);
    border-top: 2px solid rgb(255, 127, 39);
    background-color: #262626;
    color: white;
    box-shadow: 2px 2px 7px grey;
    font-size: 16px;
}

main.product-detail-main article.product-detail div.details {
    margin: 20px;
    margin-top: 60px;
    padding: 10px 20px;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
}

main.product-detail-main article.product-detail div.details p {
    border-top: 1px solid white;
    margin-top: 5px;
    padding-top: 5px;
}



/*FOOTER*/

footer {
    background-color: rgb(213, 213, 213);
    border-top: 3px solid rgb(255, 127, 39);
}

section.footer-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

section.footer-benefits div {
    margin-top: 30px;
}

section.footer-benefits div i {
    color: rgb(254, 102, 0);
    font-size: 27px;
}

section.footer-benefits div p {
    color: grey;
}

section.social-media {
    display: flex;
    width: 40vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 25vw;
}

section.social-media a {
    text-align: center;
}

section.social-media i {
    font-size: 8vw;
    color: rgb(138, 138, 138);
}

section.social-media i#instagram:hover {
    color: #ee569a;
    text-shadow: 0 0 5px #f96dac;
}

section.social-media i#facebook:hover {
    color: #3B5998;
    text-shadow: 0 0 5px #4b69a9;
}

section.social-media i#twitter:hover {
    color: #00ACEE;
    text-shadow: 0 0 5px #3ec0f3;
}

section.footer-contact-nav div.contact h4 {
    margin-left: 5vw;
}

section.footer-contact-nav div.contact {
    margin-left: 12vw;
}

section.footer-contact-nav div.footer-nav h4 {
    margin-left: 17vw;
    margin-top: 5vw;
}

section.footer-contact-nav div.footer-nav div.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
    margin: 0 13vw;
}

section.footer-contact-nav div.footer-nav div.links a {
    
    text-decoration: none;
    color: rgb(138, 138, 138);
}

section.footer-contact-nav div.acount h4 {
    margin-left: 17vw;
}

section.footer-contact-nav div.acount div.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vw;
    margin: 0 13vw;
}

section.footer-contact-nav div.acount div.links a {
    text-decoration: none;
    color: rgb(138, 138, 138);
}

section div.copyrights {
    margin: 0 3vw;
}

section div.copyrights h4 {
    font-size: 3vw;
}

section div.copyrights p {
    font-size: 2.2vw;
    color: rgb(138, 138, 138);
}

@media(min-width: 481px) {
    /*------HEADER------*/

    header {
        justify-content: space-between;
        padding: 10px 5px 0 5px;
        height: 24vw;
        flex-wrap: nowrap;
    }

    .logo {
        order: -1;
    }

    img#logo {
        width: 22vw;
    }

    .hamburger {
        display: none;
    }

    .mobile-buscador {
        display: none;
    }

    .buscador-y-nav {
        display: flex;
        flex-direction: column;
        width: 62%;
    }

    #buscador {
        display: flex;
        align-self: center;
        justify-self: flex-end;
        align-items: flex-end;
        width: 80%;
        flex-grow: 1;
    }

    #buscador input {
        border-radius: 6px 0 0 6px;
        padding: 1vw;
        border: none;
        width: 90%;
        height: 50%;
    }

    #buscador button {
        padding: 1vw 8px;
        border-radius: 0 6px 6px 0;
        border: none;
        background-color: #ffffff;
        border-left: 1px solid #bfbfbf;
        height: 50%;
    }

    .header-sections {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin-bottom: 1vw;
        font-size: 2.4vw;
        flex-grow: 1;
    }

    .header-section:first-child {
        border: none;
    }

    .header-section {
        list-style: none;
        flex-grow: 1;
        text-align: center;
        border-left: 1px solid rgb(74, 74, 74);
    }

    .header-section a {
        text-decoration: none;
        color:#ffffff;
    }

    .signup-login {
        display: none;
    }

    .signup-login-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14%;
    }

    .signup-login-tablet a {
        width: 40%;
        height: 24%;
        text-align: center;
    }

    .signup-login-tablet i {
        position: relative;
        top: 2px;
        font-size: 4vw;
        color:rgb(255, 127, 39);
    }

    .signup-login-tablet a {
        text-decoration: none;
        margin: auto 0;
        font-size: 2vw;
    }

    .nav-sections {
        display: none;
    }

    /*------HOME------*/

    .slider-container {
        height: 45vw;
    }

    h2 {
        margin-top: 3vw;
        margin-bottom: 6vw;
    }

    section.article-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    section article {
        width: 43vw;
        min-height: 50vw;
        box-shadow: 0 0 5px grey;
    }

    section article p.article-discount {
        top: 10px;
    }

    /*------FOOTER------*/

    section.footer-benefits {
        justify-content: space-around;
    }

    section.footer-benefits div {
        width: 28%;
        margin-top: 80px; 
    }

    section.footer-benefits div h3 {
        font-size: 16px;
    }

    section.footer-benefits div i {
        font-size: 36px;
        padding-bottom: 20px;
    }

    section.social-media {
        height: 175px;
        width: 40vw;
        margin:auto;
        justify-content: space-between;
        
    }

    section.social-media i {
        font-size: 45px;
    }

    section.footer-contact-nav div.contact h4 {
        margin-left: 3vw;
        margin-bottom: 10px;
    }

    section.footer-contact-nav div.contact {
        margin-left: 4vw;
    }

    section.footer-contact-nav div.footer-nav div.links {
        height: 9vw;
    }

    section.footer-contact-nav div.acount div.links {
        height: 8vw;
        margin: 0 23vw;
    }

    section div.copyrights h4 {
        font-size: 12px;
    }

    section div.copyrights p {
        font-size: 10px;
        color: rgb(138, 138, 138);
    }

    section div.copyrights {
        margin-top: 5vw;
    }
}

@media(min-width: 960px) {

    /*HEADER*/

    .signup-login-tablet {
        display: none
    }

    header {
        height: 12vw;
    }

    img#logo {
        width: 12vw;
    }

    .buscador-y-nav {
        width: 65%;
    }

    #buscador {
        width: 100%;
    }

    #buscador input {
        padding: 4px;
        padding-left: 12px;
        width: 95%;
        height: 35px;
    }

    #buscador button {
        padding: 4px 14px;
        height: 35px;
    }

    .signup-login {
        display: flex;
        align-items: center;
        color: #ffffff;
        width: 13%;
    }
    

    .signup-login a {
        padding: 0 2px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1vw;
    }
    .signup-login span {
        padding: 0 3px 0 3px;
        font-size: 1.3vw;
    }

    .header-sections {
        font-size: 1.2vw;
    }

    /*HOME*/

    .slider-container {
        height: 30vw;
    }

    h2 {
        margin: 3vw 35vw 3vw 35vw;

    }

    section.article-container {
        width: 86vw;
        margin: 0 auto;
    }
    
    section a {
        width: 22%;
        transition: all 0.3s;
    }

    section a:hover {
        width: 23%;
    }

    section article {
        width: 100%;
        min-height: 23vw;
        margin-left: 10px;
        box-shadow: 0 0 5px grey;
        transition: all 0.3s;
    }

    section article:hover {
        min-height: 23.5vw;
        box-shadow: 0 0 15px rgb(95, 95, 95);

    }

    section article figure.img-container {
        min-height: 14vw;
    }

    section article p.article-price {
        font-size: 1.4vw;
    }

    section article p.article-discount-price {
        font-size: 1.3vw;
    }

    section article p.article-discount {
        font-size: 1.2vw;
    }

    section article p.article-name {
        font-size: 1.4vw;
    }

    section article p.article-price-nodisc {
        font-size: 1.4vw;
    }

    /*--------FORMS--------*/

    main.form-background {
        background-image: url('/images/grey-background.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 5vw;
        padding-bottom: 6vw;
        
    }

    div.crud-main {
        width: 283px;
        margin: 0px auto 0px auto;
    }

    div.crud-main h2 {
        margin: 40px auto 60px auto;
    }

    div.crud-main.register-create-edit {
        width: 90%;
    }

    form.crud-form {
        display: flex;
        flex-direction: column;
    }

    div.form-row-flex {
        display: flex;
        justify-content: space-around;
    }

    div.form-column {
        width: 45%;
    }

    div.button-section button {
        height: 30px;
        width: 100px;
    }

    /*------PRODUCT DETAIL------*/

    main.product-detail-main {
        margin: 40px 5vw;
        box-shadow: none;
        border-radius: 0;
    }

    article.product-detail div.top-container {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        height: 380px;
    }
    
    article.product-detail div.img-container {
        width: 55%;
        border: none;
        border-top: 2px solid rgb(255, 127, 39);
        border-bottom: 2px solid rgb(255, 127, 39);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgb(187, 187, 187);
    }
    
    article.product-detail div.img-container img {
        width: 90%;
        margin: 0;
        
    }

    main.product-detail-main article.product-detail div.right-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        width: 250px;
        padding: 20px;
        border: none;
        border-left: 2px solid rgb(255, 127, 39);
        border-right: 2px solid rgb(255, 127, 39);
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(187, 187, 187);
    }
    
    main.product-detail-main article.product-detail div.right-container h3 {
        text-align: left;
        padding: 0;
        margin: 0;
        margin-right: 2vw;
        align-self: center;
    }

    main.product-detail-main article.product-detail div.right-container h6 {
        margin: 0;
    }
    
    main.product-detail-main article.product-detail div.right-container h5 {
        margin: 0;
    }

    main.product-detail-main article.product-detail div.right-container h5.old-price {
        color: grey;
        text-decoration: line-through;
        font-size: 16px;
    }
    
    main.product-detail-main article.product-detail div.right-container div.edit-delete-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    
    main.product-detail-main article.product-detail div.right-container div.edit-delete-container a {
        width: 40%;
    }
    
    main.product-detail-main article.product-detail div.right-container div.edit-delete-container form {
        width: 40%;
    }
    
    main.product-detail-main article.product-detail div.right-container div.edit-delete-container button {
        width: 100%;
        text-decoration: none;
        text-align: center;
        padding: 5px 10px 6px 10px;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid rgb(255, 127, 39);
        border-top: 2px solid rgb(255, 127, 39);
        background-color: #262626;
        color: white;
        box-shadow: 2px 2px 7px grey;
        font-size: 16px;
    }

    main.product-detail-main article.product-detail div.bottom-container {
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    
    main.product-detail-main article.product-detail div.details {
        width: 50%;
    }

    /*------FOOTER------*/

    section.footer-benefits {
        margin: 20px 16vw 0 16vw;
    }

    section.footer-benefits div {
        margin-top: 30px; 
    }

    section.social-media {
        height: 10vw;
    }

    section.social-media a {
        width: 10%;
    }

    section.social-media i {
        font-size: 2.5vw;
    }

    section.footer-contact-nav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 80vw;
        margin: 0 auto;
        background-color: #262626;
        padding: 20px 0;
        border-radius: 10px;
        border-bottom: 2px solid rgb(255, 127, 39);
        border-top: 2px solid rgb(255, 127, 39);
    }

    section.footer-contact-nav div.contact {
        width: 30%;
        margin: 0
    }

    section.footer-contact-nav div.contact h4 {
        color: #ffffff;
    }

    section.footer-contact-nav div.contact p {
        color: #ffffff;
    }

    section.footer-contact-nav div.footer-nav {
        width: 30%;
    }

    section.footer-contact-nav div.acount {
        width: 30%;
    }

    section.footer-contact-nav div.footer-nav h4 {
        margin: 0 0 0 20px;
        text-align: center;
        color: #ffffff;
    }

    section.footer-contact-nav div.acount h4 {
        margin: 0 48px 0 0;
        text-align: end;
        color: #ffffff;
    }

    section.footer-contact-nav div.footer-nav div.links {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 5px 10px;
    }

    section.footer-contact-nav div.acount div.links {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;
        padding: 5px 10px 5px 10px;
        
    }

    section.footer-contact-nav div.acount div.links a {
        width: 108px;
        color: #ffffff;
    }

    section.footer-contact-nav div.footer-nav div.links a {
        color: #ffffff;
    }
}

@media(min-width: 1260px) {

    /*------HOME AND PRODUCTS------*/

    section article p.article-price {
        font-size: 17px;
    }

    section article p.article-discount-price {
        font-size: 17px;
    }

    section article p.article-discount {
        font-size: 15px;
    }

    section article p.article-name {
        font-size: 18px;
    }

    section article p.article-price-nodisc {
        font-size: 17px;
    }

    /*------FORMS------*/

    div.crud-main.register-create-edit {
        width: 65%;
    }
}