<!DOCTYPE html>
<html lang="en">
    
    <%- include ('./partials/head') %>  

<body>
    <!--HEADER-->

    <%- include ('./partials/header') %> 

    <!--NAV-->

    <%- include ('./partials/nav') %> 

    <main>

        <div class="slider-container">
            <div class="slide" id="slide-1">
                <div class="slider-img" ><img src="\images\slide-mobile-1.jpg" alt="slide-1"></div>
                <div class="slider-arrows">
                    <a href="#slide-2"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#slide-2"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <div class="slide" id="slide-2">
                <div class="slider-img" ><img src="\images\slide-mobile-2.jpg" alt="slide-2"></div>
                <div class="slider-arrows">
                    <a href="#slide-1"><i class="fa-solid fa-angle-left"></i></a>
                    <a href="#slide-1"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            </div> 
        </div>
        <div id="slider-points">
            <a href="#slide-1"><i class="fa-solid fa-circle"></i></a>
            <a href="#slide-2"><i class="fa-solid fa-circle"></i></a>
        </div>

        

        <section id="destacados">
            
            <h2>Destacados</h2>

            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>

            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>

            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>

            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>
        
        </section>
        
        <section id="ofertas">
            
            <h2>ofertas</h2>
            
            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>

            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>

            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>

            <article>
                <p class="article-discount">30% OFF</p>
                <figure class="img-container">
                    <img src="\images\bicicletaRodado27venzoAmphion1.jpg" alt="imagen articulo">
                </figure>
                <p class="article-name">BICICLETA MTB VENZO AMPHION RODADO 27</p>
                <p class="article-price">$ 45.000</p>
            </article>
        </section>
    </main>

    <!--FOOTER-->

    <%- include('./partials/footer')  %> 
    
</body>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navSections = document.querySelector(".nav-sections");
    const slider = document.querySelector(".slider-container");

    hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active")
    navSections.classList.toggle("active")
    slider.classList.toggle("active")
})

</script>
</html>