<footer>
    <section class="footer-benefits">
        <div>
            <i class="fa-solid fa-truck-fast"></i>
            <h3>ENVÍOS GRATIS</h3>
            <p>Entregas a todo el país sin cargo</p>
        </div>
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h3>PAGÁ COMO QUIERAS</h3>
            <p>Tarjetas de crédito o efectivo</p>
        </div>
        <div>
            <i class="fa-solid fa-shield-halved"></i>
            <h3>COMPRÁ CON SEGURIDAD</h3>
            <p>Tus datos siempre protegidos</p>
        </div>
    </section>

    <section class="social-media">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter"></i>
    </section>

    <section class="footer-contact-nav">
        <div class="contact">
            <h4>Contacto</h4>
            <p><i class="fa-solid fa-phone"></i> 4982-3418 / 4958-1405</p>
            <p><i class="fa-brands fa-whatsapp"></i> +5491123887694</p>
            <p><i class="fa-solid fa-envelope"></i> ventas@bicimundo.com.ar</p>
            <p><i class="fa-solid fa-location-dot"></i> Av. Diaz Velez 4702, CABA, buenos aires, Argentina</p>
            <p><i class="fa-solid fa-clock"></i> 10hs a 18hs</p>
        </div>
        <div class="footer-nav">
            <h4>Navegacion</h4>
            <div class="links">
                <a href="#">Home</a>
                <a href="#">Productos</a>
                <a href="#">Ayuda</a>
            </div>
        </div>
        <div class="acount">
            <h4>Cuenta</h4>
            <div class="links">
                <a href="#">Crear cuenta</a>
                <a href="#">Iniciar sesion</a>
            </div>
        </div>
    </section>

    <section>
        <div class="copyrights">
            <h4><i class="fa-solid fa-copyright"></i> 2016-2022 Desarrollado por Ramiro Alvarez</h4>
            <p>Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a 
                la verificación de stock. Los precios online y los planes de financiación para los productos presentados/publicados son 
                válidos exclusivamente para la compra vía internet en las páginas antes mencionadas.
                Las especificaciones técnicas y descripciones están sujetas a cambios sin previo aviso.</p>
        </div>
    </section>
</footer>