<header>
    <div class="logo">
        <img id="logo" src="\images\logo3.png" alt="logo">
    </div>

    <div class="mobile-buscador">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <form id="buscador">

        <label for="buscador-text-input">
            <input  id="search-input" type="text" name="buscador-text-input" value="buscar">
        </label>
        
        <label for="buscador-button">
            <input class="buscador" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </label>
        
    </form>

    <div class="signup-login">
        <a href="#" >Sign up</a>
        <span>|</span>
        <a href="#" >Log in</a>
    </div>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</header>