<header>
    <div class="logo">
        <a href="/"><img id="logo" src="\images\logo3.png" alt="logo"></a>
    </div>

    <div class="mobile-buscador">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <form action="/productos" method="GET" id="buscador">

        <input  id="search-input" type="text" name="buscador-text-input" value="buscar">
        <button class="buscador" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

    </form>

    <div class="signup-login">
        <a href="/usuarios/register" >Registro</a>
        <span>|</span>
        <a href="/usuarios/login" >Ingresar</a>
    </div>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</header>