<nav>
    <ul class="nav-sections">
        <li class="nav-section"><a href="#" class="nav-link">HOME</a></li>
        <li class="nav-section"><a href="#" class="nav-link">PRODUCTOS</a></li>
        <li class="nav-section"><a href="#" class="nav-link">CONTACTO</a></li>                    <li class="nav-section"><a href="#" class="nav-link">NOSOTROS</a></li>
        <li class="nav-section"><a href="#" class="nav-link">AYUDA</a></li>
    </ul>
</nav>