<nav>
    <ul class="nav-sections">
        <li class="nav-section"><a class="nav-link1" href="/" class="nav-link">HOME</a></li>
        <li class="nav-section"><a class="nav-link2" href="/productos" class="nav-link">PRODUCTOS</a></li>
        <li class="nav-section"><a class="nav-link3" href="/usuarios/login" class="nav-link">INGRESAR</a></li>
        <li class="nav-section"><a class="nav-link4" href="/usuarios/register" class="nav-link">REGISTRO</a></li>
        <li class="nav-section"><a class="nav-link5" href="/contacto" class="nav-link">CONTACTO</a></li>
        <li class="nav-section"><a class="nav-link6" href="/productos/crear" class="nav-link">ADMIN</a></li>
    </ul>
</nav>