<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    
    <%- include ('../partials/head') %>  

<body>
    <!--HEADER-->

    <%- include ('../partials/header') %> 

    <!--NAV-->

    <%- include ('../partials/nav') %> 

    <main class="crud-main">
        <h2>Ingresar</h2>

        <form class="crud-form" action="/usuarios/" method="get">
            <div class="form-section">
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="johndow@mail.com" required id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <span class="feedback"></span>
            </div>
            <div class="form-section">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password" required id="password" minLength="8">
                <span class="feedback"></span>
            </div>
            <div class="button-section">
                <button class="submit-button" type="submit">Ingresar</button>
            </div>
        </form>
    </main>

    <!--FOOTER-->

    <%- include('../partials/footer')  %> 
    
</body>
</html>